
<h1>Bookings</h1>

<table>
  <thead>
    <tr>
      <th>Seat</th>
      <th>Event</th>
      <th>Date</th>
      <th>Time</th>
      <th>Event Space</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.seat.seat_num %></td>
        <td><%= booking.showing.event.name %></td>
        <td><%= booking.showing.date.strftime("%e/%m/%Y") %></td>
        <td><%= booking.showing.time.strftime("%H:%M") %></td>
        <td><%= booking.showing.event_space.name %></td>
        <td><%= booking.user.username %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
