

<h2>
  <%= @event.name %>
</h2>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Event space:</strong>
  <%= @event.event_space.name %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @event.duration %>mins
</p>

<p>
  <strong>Genre:</strong>
  <%= @event.category.genre %>
</p>


<%= link_to 'Back', events_path %>
