<p id="notice"><%= notice %></p>

<h2>
  <%= @event_space.name %>
</h2>

<p>
  <strong>Capacity:</strong>
  <%= @event_space.capacity %>
</p>


<%= link_to 'Edit', edit_event_space_path(@event_space) %> |
<%= link_to 'Back', event_spaces_path %>
