<!DOCTYPE html>
<html>
  <head>
    <title>OperahouseServer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav">
      <% if @current_user.present? %>
        <nav class="main_nav">
          <a href="/events">Events</a> |
          <a href="/event_spaces">Event Spaces</a> |
          <a href="/categories">Categories</a> |
          <a href="/seats">Seats</a> |
          <a href="/users">All Users</a>
        </nav>
        <nav class="log_out">
          <%= link_to("Log Out", login_path, :method => :delete) %>
        </nav>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
